html{
  font-family: "Helvetica";
  background-color: white;
  text-align: center;
}

#header{
  background-image: url("../the-flatiron-building.png");
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.btn-nav{
  font-size: 18px;
  color: white;
}

h2{
  font-size: 32px;
  font-weigh: bold;
}

h3.sp_main, h3.sp_end{
  font-size: 23px;
  font-weight: bold;
}

p.sp_main, p.sp_end{
  font-size: 14px;
}

h3.spt{
  background-image: url("../the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.hero{
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-image: url("../the-flatiron-building.png");
}

#footer{
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}
